<div class="container my-3">
  <h3>Add a List</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">List Title</label>
      <input type="text" [(ngModel)]='title' name="title" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">List Description</label>
      <input type="text" name ="desc" class="form-control" id="desc" [(ngModel)]='desc'>
    </div>
    <button type="submit" class="btn btn-primary">Add List</button>
  </form>
</div>
